<h2 mat-dialog-title>ATM Managemenet</h2>
<mat-dialog-content>
  <form action="" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Manufacturer</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Serial Number</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>close</button>
  <button mat-button >onSubmit</button>
</mat-dialog-actions>
